.field{
    width: 100px;
    height: 100px;
    border: 1px solid black
}

.cont div{
    padding: 0;
    
}

.row{
    margin: 0;
}

.sing{
    width: 100px;
    height: 100px;
}

.cont{
    margin-bottom: 10px;
}
.btn{
    border: 1px solid grey;
}