.field{
    width: 100px;
    height: 100px;
    border: 1px solid black
}

.cont{
    margin-bottom: 10px;
    width: 300px;
}

.cont div{
    padding: 0;
}

.sing{
    width: 100px;
    height: 100px;
}

.btn{
    border: 1px solid grey;
}