.field{
    width: 50px;
    height: 50px;
    border: 1px solid black
}

.cont{
    margin: 10px;
    width: 150px;
}

.cont div{
    padding: 0;
}

.sing{
    width: 48px;
    height: 48px;
}

.btn{
    border: 1px solid grey;
}

.this{
    background-color: deepskyblue;
}
