.field{
    height: 40px;
    /* max-width: 40px; */
    border: 1px solid black;
}

.cont{
    margin: 2%;
    max-width: 150px;
}

.cont div{
    padding: 0;
}

.sing{
    width: 99%;
    height: 99%;
}

.btn{
    border: 1px solid grey;
}

.this{
    background-color: deepskyblue;
}
